  <div id=sidebar>
    <div id="categories">
      <ul id="nav">
        <% @categories.each do |category| %>
            <li>
              <% name = category.name %>
              <%= link_to name, category %>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="lastVis">
      <p>Last visited:</p>
      <% if cookies[:last_product].nil? %>
          <p> No last visited!</p>
      <% else %>
          <%= link_to image_tag(Product.find(cookies[:last_product]).image_url,:width =>"100px",:height =>"100px", :alt=>"no_image.jpg"), Product.find(cookies[:last_product]) %>
          <p><%= Product.find(cookies[:last_product]).name %></p>
          <p><%= Product.find(cookies[:last_product]).price.to_f %> €</p>
      <%end%>
    </div>
  </div>
  <div id=content>
    <% @product = Product.all%>
    <% product=rand(@product.length) %>
    <p id="buttonsDes">Produto em Destaque</p>
    <div id="desImg">
      <%= link_to image_tag(@product[product].image_url, :alt=>"no_image.jpg") , @product[product], :id=>"mainA" %>
      <p><%= @product[product].name %></p>
      <p><%= @product[product].price.to_f %> €</p>
    </div>
  </div>